  body {
    background-color: #f8f0e3;
	font-family: tenso, sans-serif;
	font-size: 30px;
    font-weight: 400;
	font-style: normal;
  }

  h1{
	/*background-color: #f8f0e3;*/
	color: #383634;
	text-align: center;
	font-family: tenso, sans-serif;
	font-size: 70px;
	font-weight: 700;
	font-style: normal;
	margin-top: 10px;
  }
  .title{
	/*background-color: #383634;*/
	color: #f8f0e3;
	text-align: center;
	font-family: tenso, sans-serif;
	font-size: 100px;
	font-weight: 700;
	font-style: normal;
	padding: 15px;
  }
  h2 {
	background-color: #f8f0e3;
	color: #383634;
	text-align: center;
	font-family: tenso, sans-serif;
	font-size: 50px;
	font-weight: 500;
	font-style: normal;
  }

  h3 {
	background-color: #f8f0e3;
	color: #383634;
	text-align: left;
	font-family: tenso, sans-serif;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	margin: 0px 100px 0px 100px;
  }

  #image {
	  display: none;
  }

  p {
	background-color: #f8f0e3;
    color: #78746E;
	text-align: center;
	font-family: tenso, sans-serif;
    font-weight: 400;
	font-style: normal;
	font-size: 20px;
  }

  .logo {
	float: left;
	display: inline;
	padding: 0px;
  }

  .about-name {
	background-color: #f8f0e3;
	color: #383634;
	text-align: left;
	font-family: tenso, sans-serif;
	font-size: 50px;
	font-weight: 500;
	font-style: normal;
	margin: 0px 100px 0px 100px;
  }

  .about-text {
	background-color:#f8f0e3;
    color: #383634;
	display: block;
	text-align: left;
	/*float: left;*/
	font-family: tenso, sans-serif;
    font-weight: 400;
	font-style: normal;
	font-size: 20px;
	line-height: 1.8;
	margin: 0px 100px 75px 100px;
	width: 50%;
	align-items: center;
	
  }

  .contact-text {
	background-color: #f8f0e3;
    color: #78746E;
	text-align: left;
	font-family: tenso, sans-serif;
    font-weight: 400;
	font-style: normal;
	font-size: 20px;
	margin-left: 20rem;
	
  }
  .center p {
	  margin-left: auto;
	  margin-right: auto;
  }
  .center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
  }

  ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #383634;
  }

  li {
	  float: left;
	  display: inline;
  }

  li a {
    display:block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  li a:hover {
    background-color: #7B94AB;
  }

  li a:hover:not(.active) {
	  background-color: #7B94AB;
  }

  .active {
	  background-color: #7B94AB;
  }

  .explore-work-button {
	background-color: #7B94AB; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: flex;
	font-size: 16px;
	font-family: tenso, sans-serif;
    font-weight: 300;
	font-style: normal;
	margin: auto;
    height:18px;
    min-width: 160px;
	justify-content: center;
	align-items: center;
	width: 200px;

  }
  .image-portrait {
	  float: right;
	  max-width: 33%;
	  height: 100%;
	  /*border: 1px dotted black;*/
	  margin:0px 50px 100px 100px;
	  padding-bottom: 20px;
  }

  .image-work {
	float: right;
	max-width: 28%;
	height: 100%;
	/*border: 1px dotted black;*/
	margin:0px 50px 100px 100px;
	padding-bottom: 20px;
  }

  input, textarea {
	width: 75%;
  }

  * {
	  box-sizing: border-box;
  }

  body, html {
	  height: 100%;
	  margin: 0;
  }

  .bg {
	  background-image: url("../images/2.jpg");
	  height: 100%;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
  }

  .container-image-button {
	  position: relative;
	  width: 100%;
	  height: auto;
  }

  .container-image-button img {
	  width: 100%;
	  height: 80%;
  }

  .container-image-button .btn {
	  position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%, -50%);
	  background-color: #383634;
	  color:white;
	  font-size: 16px;
	  padding: 12px 24px;
	  border: none;
	  cursor: pointer;
	  border-radius: 5px;
	  text-align: center;
  }
  
  .container-image-button .btn:hover {
	  background-color: #7B94AB;
  }

  .caption {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #f8f0e3;
  }

  .caption span.border {
    background-color: #383634;
    color: #f8f0e3;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  .centered {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .column-work {
	  float: left;
	  width: 33%;
	  height: 25%;
	  padding: 0 20px;
  }

  .column-work img{
	  opacity: 0.8;
	  cursor: pointer;
  }

  .column-work img:hover{
	  opacity: 1;
  }

  .row-work:after {
      content: "";
	  display: table;
	  clear: both;
  }

  .container-work{
	  position: relative;
	  display: none;
  }

  #imgtext{
	  position: absolute;
	  bottom: 15px;
	  left: 15px;
	  color: #f8f0e3;
	  font-size: 20px;
  }

  .closebtn {
	  position: aboslute;
	  top: 10px;
	  right: 15px;
	  color: #f8f0e3;
	  font-size: 35px;
	  cursor: pointer;
  }

  .row {
	  display: flex;
  }

  .column {
	  flex: 33.33%;
	  padding: 5px;
  }

  .column-socials {
	flex: 33.33%;
	padding: 5px;
	margin-left: 12.5rem;
  }

  .socials{
	position:relative;
	min-width: 100%;
	min-height: 10rem;
	bottom: 0
  }



  #linkedin-icon{
	background: url(..//images/linkedinicon.png);
	background-size: cover;
	margin:10px;
	width:8.3vw;
	height: 8.3vw;
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
  }
  
  #linkedin-icon:hover{
	filter: invert(14%) sepia(94%) saturate(6153%) hue-rotate(343deg) brightness(90%) contrast(90%);
  }